
  <div id="hero-unit">
    <h1>Find your customers on the wire</h1>
    <span id="hero-copy">

    </span>
    <img id="hero-img" src= "/assets/hero.png" />

    <%= link_to "Register", new_user_registration_path %>
  </div>