<%= render 'layouts/landing_header' %>

<div id="hero-unit">
  <h1>Find your customers on the wire</h1>
  <span id="hero-copy">

  </span>
  <img id="hero-img" src= "/assets/hero.png" />

  <a id="hero-signup" href="/signup.html.erb">Sign Up Today</a>
</div>


<p>Find me in app/views/pages/landing.html.erb</p>
